 <head>
    <title>CloudCamp @ Pittsburgh | <%= @title %></title>
   <%= csrf_meta_tag %>
 </head>
 <body>
<h2>Welcome to CloudCamp.org</h2>

<p>CloudCamp is an unconference where early adopters of Cloud Computing technologies exchange ideas. With the rapid change occurring in the industry, we need a place we can meet to share our experiences, challenges and solutions. At CloudCamp, you are encouraged you to share your thoughts in several open discussions, as we strive for the advancement of Cloud Computing. End users, IT professionals and vendors are all encouraged to participate.</p>

<p>The events listed below have a confirmed time and place. Let us know if you'd like to put on a CloudCamp in your city or region:</p>
 </body>